{% extends 'admin/base.html.twig' %}

{% block title %}Genres des jeux{% endblock %}

{% block body %}
<br>
<h1> genres </h1>
<br>
<section>
    <div class="row">
        {% for genre in genres %}
            {{ genre.title }}
            {{ genre.description }} 
            <br>
           
            
        {% endfor %}
    </div>
    
</section>
{% endblock %}