{% block title %}
    {% if editMode %}
        Modifier un genre
    {% else %}
        Ajouter un genre 
    {% endif %}     
    
 {% endblock %}

{% block body %}
    <br>
    <h1>
        {% if editMode %}
            Modifier un genre
        {% else %}
            Ajouter un genre 
        {% endif %}    
    </h1>
    <hr>
    {{ form_start(form) }}

    <div class="form-group">
        <label>Nom du genre</label>
        {{ form_widget(form.title, {'attr': {'placeholder': 'Nom du genre...'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    
    <br>
    <button class="btn btn-primary">
    {% if editMode %}
        Mettre à jour
    {% else %}
        Ajouter le genre
    {% endif %}
    </button>

    {{ form_end(form) }}
    <br>
{% endblock %}