{% extends 'base.html.twig' %}

{% block title %}Edit UserGame{% endblock %}

{% block body %}
    <h1>Edit UserGame</h1>

    {{ include('user_game/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_game_index') }}">back to list</a>

    {{ include('user_game/_delete_form.html.twig') }}
{% endblock %}
