{% extends 'base.html.twig' %}

{% block title %}UserGame index{% endblock %}

{% block body %}
    <h1>UserGame index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bought_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_game in user_games %}
            <tr>
                <td>{{ user_game.id }}</td>
                <td>{{ user_game.boughtAt ? user_game.boughtAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_game_show', {'id': user_game.id}) }}">show</a>
                    <a href="{{ path('user_game_edit', {'id': user_game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_game_new') }}">Create new</a>
{% endblock %}
