{% extends 'base.html.twig' %}

{% block title %}New UserGame{% endblock %}

{% block body %}
    <h1>Create new UserGame</h1>

    {{ include('user_game/_form.html.twig') }}

    <a href="{{ path('user_game_index') }}">back to list</a>
{% endblock %}
