{% extends 'base.html.twig' %}

{% block title %}UserGame{% endblock %}

{% block body %}
    <h1>UserGame</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_game.id }}</td>
            </tr>
            <tr>
                <th>Bought_at</th>
                <td>{{ user_game.boughtAt ? user_game.boughtAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_game_index') }}">back to list</a>

    <a href="{{ path('user_game_edit', {'id': user_game.id}) }}">edit</a>

    {{ include('user_game/_delete_form.html.twig') }}
{% endblock %}
