{% extends 'base.html.twig' %}

{% block title %}Collection de jeux{% endblock %}

{% block body %}
<br>
<h1>Nombre de jeux : {{ games.getTotalItemCount }}</h1>
<br>
<section class="games">
    <div class="row">
        {% for game in games %}
            
            {% include 'block/gameblock.html.twig' with {'game': game} %}
            <br>
            
        {% endfor %}
    </div>
    <br>
    
    {{ knp_pagination_render(games) }}
    
    <br>
    
</section>
{% endblock %}
