{% extends 'admin/base.html.twig' %}

{% block body %}
    {# {% include 'block/gameblock.html.twig' with {'game': game} %} #}
    <div class="container">
            <div class="row">
                
                <div class="col-lg-9">
                    <br>
                    <h3 class="card-title">{{game.title}}</h3>
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="{{game.image}}" alt="Image du jeu" />
                        <div class="card-body">
                            
                            <div class="metadata">Enregistré le {{game.createdAt | date
                                ('d/m/Y')}} à {{game.createdAt | date('H:i')}}
                                
                            </div>
                            <hr>
                            <h5>Description:</h5>
                            {# affichage de description limite a 25 characters #}
                            <p class="card-text">{{ game.description }}</p> 

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <br>
                <h4 class="card-title">Ce jeu est dans les catégorie: </h4>
                    <span class="catplat-info">
                        {% for g in game.Genre %}  
                            {{g.title}} |
                        {% endfor %}  
                    <span><hr>   
            </div>
            <div>
                <h4 class="card-title">Ce jeu tourne sur les plateformes suivantes: </h4>
                    <span class="catplat-info">
                        {% for p in game.Plateform %}  
                            {{p.name}} |
                        {% endfor %}  
                    <span>    
            </div>
        </div><br>
        <a href="{{ path('admin_game_edit', {'id': game.id}) }}" class="btn btn-primary" id="b"> Modifier </a>
        <a href="{{ path('admin_game_delete', {'id': game.id}) }}" class="btn btn-primary" id="b"> Supprimer </a>
{% endblock %}