{% extends "base.html.twig" %}


{% block title %}
    {% if editMode %}
        Modifier un jeu
    {% else %}
        Ajouter un jeu 
    {% endif %}     
    
 {% endblock %}

{% block body %}
    <br>
    <h1>
        {% if editMode %}
            Modifier un jeu
        {% else %}
            Ajouter un jeu 
        {% endif %}    
    </h1>
    <hr>
    {{ form_start(form) }}

    <div class="form-group">
        <label>Nom du jeu</label>
        {{ form_widget(form.title, {'attr': {'placeholder': 'Nom du jeu'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group">
        <label>Nombre de ventes</label>
        {{ form_widget(form.sales_number) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'placeholder': 'URL de l\'image'}}) }}
    </div>
    <div class="cat-platf">
        <div class="form-group">
            <label>Catégorie</label>
            {{ form_widget(form.Genre) }}
        </div>
        <div class="form-group">
            {{ form_label(form.Plateform) }}
            {{ form_widget(form.Plateform) }}
        </div>
    </div>
    <br>
    <button class="btn btn-primary">
    {% if editMode %}
        Mettre à jour
    {% else %}
        Ajouter le jeu
    {% endif %}
    </button>

    {{ form_end(form) }}
    <br>
{% endblock %}