{% extends 'admin/base.html.twig' %}

{% block title %}Edit Score{% endblock %}

{% block body %}
    <h1>Edit Score</h1>

    {{ include('admin/score/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('score_index') }}">back to list</a>

    {{ include('admin/score/_delete_form.html.twig') }}
{% endblock %}
