{% extends 'admin/base.html.twig' %}

{% block title %}Score index{% endblock %}

{% block body %}
    <h1>Score index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>Username</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td>{{ score.id }}</td>
                <td>{{ score.score }}</td>
                <td>{{ score.username }}</td>
                <td>{{ score.date ? score.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('score_show', {'id': score.id}) }}">show</a>
                    <a href="{{ path('score_edit', {'id': score.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('score_new') }}">Create new</a>
{% endblock %}
