{% extends 'admin/base.html.twig' %}

{% block title %}New Score{% endblock %}

{% block body %}
    <h1>Create new Score</h1>

    {{ include('admin/score/_form.html.twig') }}

    <a href="{{ path('score_index') }}">back to list</a>
{% endblock %}
