{% extends 'admin/base.html.twig' %}

{% block title %}Score{% endblock %}

{% block body %}
    <h1>Score</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ score.id }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ score.score }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ score.username }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ score.date ? score.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('score_index') }}">back to list</a>

    <a href="{{ path('score_edit', {'id': score.id}) }}">edit</a>

    {{ include('admin/score/_delete_form.html.twig') }}
{% endblock %}
