body{
    background-color: rgb(206, 221, 221);
}

.cat-platf{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    border: solid 1px gray;
    border-radius: 10px;
    padding: 6px 10px 0 10px;
}
.catplat-info{
    color: rgb(128, 107, 99);
}
#b{
    margin-bottom: 10px;
}


