                   
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#!"><img class="card-img-top" src="{{game.image}}" alt="Image du jeu" /></a>
        <div class="card-body">
            <h4 class="card-title"><a href="#!">{{game.title}}</a></h4>
            <h5>
            <div class="metadata">Enregistré le {{game.createdAt | date
                ('d/m/Y')}} à {{game.createdAt | date('H:i')}}
            </div>
            </h5>
            <br>
            <h5>Description:</h5>
            {# affichage de description limitee a 25 characters #}
            <p class="card-text">{{game.description | slice(0, 25) }}[...]</p> 
        </div>
        
        <a href="{{ path('game_show', {'id': game.id}) }}" class="btn btn-primary" id="b"> Lire la suite </a>
        <a href="{{ path('game_edit', {'id': game.id}) }}" class="btn btn-primary" id="b"> Modifier </a>
    </div>
</div>
                        
        
    